h1, h3 {
	font-family:'Orbitron', sans-serif;
	color:#f64ebc;

}

h2 {
	color:#8d3d72;
	font-family:'Orbitron', sans-serif;
	font-size:2em;
	text-shadow: 2px 2px 7px #ee8db4;
}

h1, h2 {
	text-align:center;
}

h1 {
	font-size:60px;
	text-shadow: 5px 5px 10px #5e0c2d;
}

p {
	margin: 20px;
	font-family: 'BenchNine', sans-serif;
	color:#2d1123;
	font-size:1.5em;
}

footer {
	font-size: 9px;
	font-style: italic;
	text-align: center;
}

img  {
	text-align :center;
	width: 800px;
}

table {
	text-align: center;
	border-width: 5px;
	border: solid;
	border-radius: 3px;
	border-color:;
}

body {
	background-color:#f6d2ea;
}

th {
	font-weight:bold;
}

.portrait {
	width:200px;
}

header {
	background-image:url(../img/uolbanniere.jpg);
	background-repeat: no-repeat;
	background-position:top;
	background-size: 1200px;
	padding: 40px 0px 80px 0px;
	margin: 0px 50px 0px 50px;
	border-radius: 20px;
}